.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    background-color: var(--background-color);
    
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;

    z-index: 100;
    transition: background-color 0.3s;
}


.left-section {
    display: flex;
    align-items: center;
}

.menu-button {
    padding: 6px;
    height: 36px;
    width: 36px;
    margin-left: 18px;
    margin-right: 24px;

    background-color: var(--background-color);
    border: none;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.menu-button:hover {
    background-color: var(--hover-color);
    border-radius: 50%;
}

.menu-button:active {
    background-color: var(--hover-color);
}

.youtube-logo {
    height: 20px;
}



.middle-section {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 650px;
    margin-left: 20px;
    margin-right: 25px;
    padding-left: 120px;
}

.search-bar {
    flex: 1;
    height: 36px;
    width: 50px;
    outline: none;
    border-style: solid;
    border-width: 1px;
    border-color: var(--search-border-color);
    border-radius: 20px 0 0 20px;
    padding-left: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    
    box-shadow: inset 1px 1px 0.5px var(--shadow-color);
    transition: box-shadow 0.2s ease-in-out, background-color 0.3s, color 0.3s, border-color 0.3s;
}

.search-bar:focus {
    box-shadow: 0px 2px 6px var(--shadow-color);
}

.search-bar::placeholder {
    font-size: 15px;
    color: var(--secondary-text-color);
}

.search-button {
    height: 40px;
    width: 60px;
    border-radius: 0px 20px 20px 0px;
    background-color: var(--search-background-color);
    border-width: 1px;
    border-style: solid;
    border-color: var(--search-border-color);

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, border-color 0.3s;
}



.search-icon {
    height: 25px;
}

.voice-search-button {
    height: 40px;
    width: 40px;
    margin-left: 12px;
    border-radius: 50%;
    background-color: var(--search-background-color);
    border-width: 1px;
    border-style: solid;
    border-color: var(--search-border-color);

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, border-color 0.3s;
}

.voice-search-icon {
    height: 24px;
}



.right-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px;
    padding-right: 35px;
    flex-shrink: 0;
}

.create-button {
    border: none;
    border-radius: 20px;
    background-color: var(--create-button-color);
    color: var(--text-color);

    font-size: 14px;
    font-weight: 700;
    height: 31px;
    display: flex;
    align-items: center;
    padding: 17px 17px;
    
    transition: background-color 0.3s, color 0.3s;
}

.span-plus-icon {
    font-size: 30px;
    font-weight: normal;
}

.div-notifications {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-notification-count {
    position: absolute;
    top: -1px;
    right: -4px;
    background-color: var(--notification-color);
    color: white;
    padding: 2px 5px;
    border-radius: 50%;
 
    font-size: 11px;
    font-weight: 700;
    transition: background-color 0.3s;
}

.notifications-icon {
    height: 25px;
}

.my-channel-picture {
    height: 32px;
    border-radius: 50%;
}

.theme-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    position: relative;
}

.theme-toggle-icon {
    height: 24px;
    width: 24px;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.div-notifications .tooltip,
.theme-toggle .tooltip {
    
    position: absolute;
    z-index: 150;
    background-color: var(--tooltip-background);
    color: var(--text-color);
    padding: 3px 5px;
    border-radius: 4px;
    font-size: 13px;
    
    bottom: -28px;
    visibility: hidden;

    cursor: default;
    pointer-events: none;
    white-space: nowrap;

    opacity: 0;
    transition: opacity 0.1s ease-in, background-color 0.3s, color 0.3s;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.div-notifications:hover .tooltip,
.theme-toggle:hover .tooltip {
    
    visibility: visible;
    opacity: 1;

    transition-delay: 0.7s;
}






