.sidebar {
    background-color: var(--background-color);
    position: fixed;
    top: 55px;
    left: 5px;
    width: 62px;
    bottom: 0px;
    transition: background-color 0.3s;
}

/* Add styles for the expanded sidebar */
.sidebar.expanded {
    width: 230px;
    transition: width 0.3s;
}

.sidebar.expanded .space-keeper{
    height: 8px;
}

.sidebar.expanded .div-sidebar-link {
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 8px;
    margin-right: 35px;
    padding-left: 11px;
    padding-right: 10px;
    height: 40px; /* Reduced height when expanded */
    margin-bottom: 2px; /* Reduced gap between links when expanded */
}

.sidebar.expanded .div-sidebar-link div {
    font-size: 14px;
    padding-left: 17px;
    margin-top: 0;
}




.sidebar.expanded .sidebar-separator {
    margin: 10px 12px;
    width: 80%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.2);
}

.div-sidebar-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 74px;
    margin-bottom: 5px;
    border-radius: 8px;
}

.div-sidebar-link img {
    height: 24px;
}

.div-sidebar-link div {
    font-size: 10px;
    margin-top: 6px;
    color: var(--text-color);
    transition: color 0.3s;
}

.div-sidebar-link:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}