.video-thumbnail {
    width: 100%;
}

.video-title {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    text-align: justify;
    line-height: 20px;
}

.channel-name {
    margin-top: 0px;
    font-size: 13px;
    margin-bottom: 6px;
    color: rgb(45, 45, 45)
}

.video-stats {
    margin-top: 0px;
    font-size: 13px;
}



.div-video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    column-gap: 18px;
    row-gap: 30px;
}

.video-preview { /* div / container */
    
}

.video-preview-row2 { /* css grid style, better approach */
    display: grid;
    grid-template-columns: 50px 1fr;
}

.div-video-thumbnail {
    margin-bottom: 5px;
    position: relative;
}

.video-duration {
    position: absolute;
    bottom: 10px;
    right: 5px;
    background-color: black;
    color: white;
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 700;
    padding: 2px 4px;
    border-radius: 3px;
}

.div-channel-picture {
    
}

.channel-picture {
    width: 85%;
    border-radius: 50%;
}

.div-video-details {
    
}